numpy
scipy
Pillow
cython
matplotlib
scikit-image
tensorflow==2.5.3
opencv-python
h5py
imgaug
IPython[all]
pandas
ffmpeg-python
PySide2
grpcio
protobuf
shiboken2
six
termcolor
Werkzeug
wrapt
google-pasta
absl-py
astor
gast
